<h1 id="hands-on-thermoplastic">Hands-On Thermoplastic</h1>
<h2 id="not-too-hot-to-handle">Not too HOT to handle!</h2>
<p>Try your hand at shaping PCL!</p>
<ul>
<li>More flexible than polymer clay.</li>
<li>More useful than Silly Putty.</li>
<li>Easier than a 3D printer.</li>
</ul>
<hr />
<h3 id="how-does-it-work">How does it work?</h3>
<ul>
<li>With just a little warmth, this material becomes putty in your hands, to shape as you wish.</li>
<li>Let it cool &amp; it becomes tough &amp; rigid, holding its shape.</li>
<li>Warm it back up to try again!</li>
</ul>
<hr />
<h3 id="what-is-it">What is it?</h3>
<h4 id="a-polymer">A <strong>polymer</strong></h4>
<ul>
<li>Its generic name is <em>poly(caprolactone)</em>, but we just call it <strong>PCL</strong> for short.</li>
<li>It is made of long chains of small molecules all hooked together.
<ul>
<li>We call this type of material a <strong>polymer</strong>.</li>
</ul></li>
<li>Manufactured polymers are often just called <strong>plastics.</strong></li>
</ul>
<hr />
<h4 id="thermoplastics">Thermoplastics</h4>
<ul>
<li>Plastics that can be shaped when warm but which become less flexible when cool are called <strong>thermoplastics</strong>.</li>
<li>PCL is sold under a number of different trade names.</li>
<li>PCL is a close relative to thermoplastics used in a very common type of 3D printer (<em>fused-deposition modelling</em>).</li>
</ul>
<hr />
<h3 id="where-do-we-find-other-polymers">Where do we find other polymers?</h3>
<h4 id="d-printing">3D Printing</h4>
<ul>
<li>There is one big difference between PCL and most 3D printing plastics: The working temperature for those plastics (like ABS and PLA) <em>are</em> too hot to handle--you could easily get burned if you tried to shape them by hand!</li>
<li>PCL is a great way to get a real feel for how these printers work.</li>
</ul>
<p>In essence <strong>you</strong> become the 3D printer with PCL!</p>
<ul>
<li><strong>ABS</strong> = acrylonitrile-butadiene-styrene copolymer</li>
<li><strong>PLA</strong> = poly(lactic acid)</li>
</ul>
<hr />
<h4 id="natural-polymers">Natural polymers</h4>
<p>Living things contain a lot of polymers too:</p>
<ul>
<li><strong>Proteins</strong></li>
<li><strong>DNA</strong></li>
<li><strong>carbohydrates</strong></li>
</ul>
<p>are all naturally occurying types of polymers.</p>
